
*.cache
dev/windows/AuroraCS/.vs/AuroraCS/v16/.suo
dev/windows/AuroraCS/.vs/AuroraCS/DesignTimeBuild/.dtbcache.v2
dev/windows/AuroraCPP/.vs/AuroraCPP/v16/.suo
dev/windows/AuroraCPP/.vs/AuroraCPP/v16/Browse.VC.db
dev/windows/AuroraCPP/.vs/AuroraCPP/v16/Browse.VC.db-shm
dev/windows/AuroraCPP/.vs/AuroraCPP/v16/Browse.VC.db-wal
dev/windows/AuroraCPP/.vs/AuroraCPP/v16/Browse.VC.opendb
